dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <title>Форма</title>
    <link rel="stylesheet" href="css/fonts.min.css">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
  </head>
  <body>
    <div class="formWrapp">
      <form class="sendForm clearfix">
        <div class="leftBlock">
          <h2>Ваши данные</h2>
          <div class="inputBlock rq">
            <label for="name">Введите Ф.И.О.</label>
            <input id="name" type="text" name="name" required>
          </div>
          <div class="inputBlock rq">
            <label for="password">Пароль</label>
            <input id="password" type="password" name="password" required>
            <div class="eye"></div>
          </div>
          <div class="inputBlock rq">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" required>
          </div>
          <div class="inputBlock">
            <select id="city" name="city">
              <option disabled selected>Город</option>
              <option>Город 01</option>
              <option>Город 02</option>
              <option>Город 03</option>
              <option>Город 04</option>
              <option>Город 05</option>
              <option>Город 06</option>
              <option>Город 07</option>
            </select>
          </div>
          <div class="inputBlock">
            <label for="tel">Телефон</label>
            <input id="tel" type="tel" name="tel">
          </div>
          <div class="radioBlock">
            <input id="male" type="radio" name="sex" checked value="male">
            <label class="male" for="male">Я - парень</label>
            <div class="swithcField"></div>
            <input id="female" type="radio" name="sex" value="female">
            <label class="female" for="female">Я - девушка</label>
          </div>
        </div>
        <div class="rightBlock">
          <h2>Важно знать!</h2>
          <div class="infoBlock clearfix">
            <div class="infoBlockImg"><img src="img/ilustration.png" alt="Форма"></div>
            <div class="infoBlockText">
              <div class="textItem item01">Развивайтесь <br>не смотря ни на что</div>
              <div class="textItem item02">Не повторяйте за тем, <br>кто повторяет</div>
            </div>
          </div>
          <div class="fileBlock">
            <input id="file" type="file" name="">
            <label for="file">Загрузить фото</label>
          </div>
          <div class="acceptBlock">
            <input id="accept" type="checkbox" name="accept">
            <label for="accept">Я прочитал и соглашаюсь с <a href="#" title="Правила" target="_blink">правилами</a> участия в акции</label>
          </div>
          <div class="btnBlock">
            <button>Участвовать</button>
          </div>
        </div>
      </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/libs.min.js"></script>
    <script src="js/scripts.min.js"></script>
  </body>
</html>

src/pug/index.pug
doctype html
html(lang="ru")
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='description' content='')

		title Форма

		link(rel="stylesheet" href="css/fonts.min.css")
		link(rel="stylesheet" href="css/libs.min.css")
		link(rel="stylesheet" href="css/styles.min.css")

	body
		.formWrapp
			form.sendForm.clearfix
				.leftBlock
					h2 Ваши данные
					.inputBlock.rq
						label(for="name") Введите Ф.И.О.
						input#name(type="text", name="name", required)
					.inputBlock.rq
						label(for="password") Пароль
						input#password(type="password", name="password", required)
						.eye
					.inputBlock.rq
						label(for="email") Email
						input#email(type="email", name="email", required)
					.inputBlock
						select#city(name="city")
							option(disabled selected) Город
							option Город 01
							option Город 02
							option Город 03
							option Город 04
							option Город 05
							option Город 06
							option Город 07
					.inputBlock
						label(for="tel") Телефон
						input#tel(type="tel", name="tel")
					.radioBlock
						input#male(type="radio", name="sex", checked, value="male")
						label.male(for="male") Я - парень
						.swithcField
						input#female(type="radio", name="sex", value="female")
						label.female(for="female") Я - девушка
				.rightBlock
					h2 Важно знать!
					.infoBlock.clearfix
						.infoBlockImg
							img(src="img/ilustration.png", alt="Форма")
						.infoBlockText
							.textItem.item01 Развивайтесь #[br]не смотря ни на что
							.textItem.item02 Не повторяйте за тем, #[br]кто повторяет
					.fileBlock
						input#file(type="file", name="")
						label(for="file") Загрузить фото
					.acceptBlock
						input#accept(type="checkbox", name="accept")
						label(for="accept") Я прочитал и соглашаюсь с #[a(href="#" title="Правила" target="_blink") правилами] участия в акции
					.btnBlock
						button Участвовать
		script(src="js/jquery.min.js")
		script(src="js/libs.min.js")
		script(src="js/scripts.min.js")
